<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<header>
    <h1>{% block name %}{% endblock %}</h1>
    <a href="{% url 'home' %}"><button>Home</button></a>
    <a href="{% url 'about' %}"><button>About</button></a>
    <a href="{% url 'contact' %}"><button>Contact</button></a>
    <hr>
</header>
<body>

{% block body %}{% endblock %}

</body>

<footer>
    <hr>
    <ul>
        <li>Address - Silachi</li>
        <li>Phone - 09999999</li>
        <li>Name - Davo</li>
        <li>Car - BMW</li>
    </ul>
</footer>
</html>